* {
	margin: 0;
	border: 0;
	padding: 0;
}

/*font-family: 'Source Sans Pro', sans-serif;
font-family: 'Arima Madurai', cursive;*/

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 10px;
}

a {
	text-decoration: none;
	color: inherit;
	text-align: center;
}

/* ------------ NAV ------------ */

nav {
	position: fixed;
	width: 35%;
	height: 100vh;
	background-color: rgba(237, 230, 235, .1) /*rgba(242, 82, 151, .1)*/;
	display: grid;	
	grid-template-rows: 50% repeat(5, 1fr);
	grid-template-areas: 
		"."
		"syk"
		"por"
		"exp"
		"skl"
		"life";
}
/*create .active class*/

#b1 {
	grid-area: syk;
}

#b2 {
	grid-area: por;
}

#b3 {
	grid-area: exp;
}

#b4 {
	grid-area: skl;
}

#b5 {
	grid-area: life;
}

nav > a {
	background-color: transparent;
	font-family: 'Arima Madurai', cursive;
	font-weight: 100;
	font-size: 2.2em;
	height: 50px;
	width: 80%;
	margin: auto;
	border-radius: 10px;
	transition: 0.4s linear;
}

nav a:hover {
	color: rgba(224, 88, 226, .9);
	box-shadow: 0px 3px 6px -2px rgba(224, 88, 226, .7);
	padding-left: 20px;
	font-size: 2.3em;
}

nav a:active {
	/*background-color: rgba(224, 88, 226, .9);*/
	font-size: 2.1em;
}

.arrow {
	display: inline-block;
	/* 	to make span scale */
	width: 0px; 
	opacity: 0;
	transition: 0.3s linear;
}

nav a:hover .arrow {
	width: 40px;
	opacity: .5;
}

/* pagination scrolling */



/* ------------ SECTIONS ------------ */

.sections {
	position: absolute;
	right: 0;
	height: 100vh;
	width: 65%;
}

#section1, #section2, #section3, #section4, #section5 {
	height: 100vh;
	width: auto;
	/*border: 1px solid;*/
}

#section1 {
	background-color: #42b201;
	opacity: .5;
}

#section2 {
	background-color: #ced1b8;
	opacity: .5;
	/* -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;*/
}

/*a[id="b3"]:target ~ .slides .slide3 {
    -webkit-transform: translateY(-300vh);
    transform: translateY(-300vh);
}*/

/* --------- section 3 -------- */
#section3 {
	background-color: #783de5;
	opacity: .5;
	font-size: 3em;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	align-items: center;
	grid-template-areas: 
	    ". prg p3"
	    "mus p1 tcr"
	    "p2 rst p4";
}

.section3-icon1, .section3-icon2, .section3-icon3, .section3-icon4 {
	font-size: 1.5em;
}

.section3-icon1 {
  grid-area: prg;
}
.section3-icon2 {
  grid-area: mus;
}
.section3-icon3 {
  grid-area: tcr;
}
.section3-icon4 {
  grid-area: rst;
}

.section3-info1 {
  grid-area: p1;
  display: none;
  /*animation-duration: 15s;*/
}
.section3-info2 {
  grid-area: p2;
  display: none;
}
.section3-info3 {
  grid-area: p3;
  display: none;
}
.section3-info4 {
  grid-area: p4;
  display: none;
}

#section4 {
	background-color:  #e04387;
	opacity: .5;
}

#section5 {
	background-color: #47adc1;
	opacity: .5;
}

/*waypoint*/

.waypointed1, .waypointed2 {
	/*width: 500px;
	height: 500px;
	background-color: blue;*/
	transition: 2.6s;
}

/*.section3-waypoint-panel {
	transition: .6s;
	opacity: 0;
}*/
.section3-waypoint-left {
	transition: .6s;
	opacity: 0;
}
.section3-waypoint-right {
	transition: .6s;
	opacity: 0;
}

.animate-waypoint {
	opacity: 1;
}