* {
	margin: 0;
	border: 0;
	padding: 0;
}

/*font-family: 'Source Sans Pro', sans-serif;
font-family: 'Arima Madurai', cursive;*/

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 10px;
}

a {
	text-decoration: none;
	color: inherit;
	text-align: center;
}

/* ------------ NAV ------------ */

nav {
	position: fixed;
	width: 35%;
	height: 100vh;
	background-color: rgba(237, 230, 235, .1) /*rgba(242, 82, 151, .1)*/;
	-webkit-box-shadow: 3px 0px 8px -2px rgba(200,200,200,0.3);
	-moz-box-shadow: 3px 0px 8px -2px rgba(200,200,200,0.3);
	box-shadow: 3px 0px 8px -2px rgba(200,200,200,0.3);
	display: grid;	
	grid-template-rows: 50% repeat(5, 1fr);
	grid-template-areas: 
		"."
		"syk"
		"por"
		"exp"
		"skl"
		"life";
}
/*create .active class*/

#b1 {
	grid-area: syk;
}

#b2 {
	grid-area: por;
}

#b3 {
	grid-area: exp;
}

#b4 {
	grid-area: skl;
}

#b5 {
	grid-area: life;
}

nav > a {
	background-color: transparent;
	font-family: 'Arima Madurai', cursive;
	font-weight: 100;
	font-size: 2.2em;
	height: 50px;
	width: 80%;
	margin: auto;
	border-radius: 10px;
	transition: 0.3s linear;
}

nav a:hover {
	color: rgba(224, 88, 226, .9);
	box-shadow: 0px 3px 6px -2px rgba(224, 88, 226, .7);
	padding-left: 20px;
	font-size: 2.3em;
}

nav a:active {
	/*background-color: rgba(224, 88, 226, .9);*/
	font-size: 2.1em;
}

.arrow {
	display: inline-block;
	color: rgba(224, 88, 226, .9);
	text-align: right;
	/* 	to make span scale */
	width: 0px; 
	opacity: 0;
	transition: 0.3s linear;
}

nav a:hover .arrow {
	width: 40px;
	opacity: .5;
}

/* pagination scrolling */



/* ------------ SECTIONS ------------ */

.sections {
	position: absolute;
	right: 0;
	height: 100vh;
	width: 65%;
}

#section1, #section2, #section3, #section4, #section5 {
	height: 100vh;
	width: auto;
}

/* --------- section 1 -------- */
#section1 {
	background-color: rgba(237, 230, 235, .1); /*#42b201*/
	font-size: 3em;
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 20% 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 2fr;
	align-items: center;
	grid-template-areas: 
	    ". . . photo . . ."
	    ". lin git name twit pen ."
	    ". blurb blurb blurb blurb blurb .";
}

.photo {
	grid-area: photo;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
	height: 100%;
	padding-top: 20px;
}

#profile {
	max-width: 90%;
/*	border: 2px solid black;*/
	border-radius: 20% 0 20% 0;
	filter: grayscale(100%) brightness(190%);
	/*-webkit-box-shadow: 5px 5px 8px -2px rgba(200,200,200,0.3);
	-moz-box-shadow: 5px 5px 8px -2px rgba(200,200,200,0.3);
	box-shadow: 5px 5px 8px -2px rgba(200,200,200,0.3);*/
}

#profile:hover {
		filter: grayscale(50%) brightness(100%);
}

/*create tool tip "prefer email or checking out my instagram"*/

.name {
	grid-area: name;
	display: flex;
	flex-direction: column;
	font-size: 3vmin;
	padding: 0 1px 15px 1px;
}

.social1 {
	grid-area: lin;
	font-size: 1.5em;
}

.social2 {
	grid-area: git;
	font-size: 1.5em;
}

.social3 {
	grid-area: twit;
	font-size: 1.5em;
}

.social4 {
	grid-area: pen;
	font-size: 1.5em;
}

.blurb {
	grid-area: blurb;
}

/* --------- section 2 -------- */
#section2 {
	background-color: rgba(182, 255, 109, .7); /*#ced1b8*/
}

/* --------- section 3 -------- */
#section3 {
	background-color: rgba(168, 140, 255, .7); /*#783de5*/
	font-size: 3em;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	align-items: center;
	grid-template-areas: 
	    ". icon-one ."
	    "icon-two screen icon-three"
	    ". icon-four .";
}

.section3-icon1 {
  grid-area: icon-one;
  font-size: 1.5em;
}
.section3-icon2 {
  grid-area: icon-two;
  font-size: 1.5em;
}
.section3-icon3 {
  grid-area: icon-three;
  font-size: 1.5em;
}
.section3-icon4 {
  grid-area: icon-four;
  font-size: 1.5em;
}

.section3-info1, .section3-info2, .section3-info3, .section3-info4 {
  grid-area: screen;
  display: none;
}


/* --------- section 4 -------- */
#section4 {
	background-color:  rgba(255, 96, 104, .7); /*#e04387*/
}

/* --------- section 5 -------- */
#section5 {
	background-color: rgba(232, 186, 98, .7); /*#47adc1*/
}

/* --------- footer -------- */
footer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 100vh;
	font-size: 3em;
}

/*waypoint*/

/*.section3-waypoint-panel {
	transition: .6s;
	opacity: 0;
}*/
.animate-waypoint {
	opacity: 1;
}

.section3-waypoint-left, .section3-waypoint-right, .social-waypoint-left, .social-waypoint-right {
	transition: .6s;
	opacity: 0;
}



.waypointed1, .waypointed2 {
	/*width: 500px;
	height: 500px;
	background-color: blue;*/
	transition: 2.6s;
}
