* {
	margin: 0;
	border: 0;
	padding: 0;
}

/*font-family: 'Source Sans Pro', sans-serif;
font-family: 'Arima Madurai', cursive;*/

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 10px;
}

a {
	text-decoration: none;
	color: inherit;
	text-align: center;
}

/* ------------ NAV ------------ */

nav {
	position: fixed;
	width: 35%;
	height: 100vh;
	background-color: rgba(237, 230, 235, .1) /*rgba(242, 82, 151, .1)*/;
	-webkit-box-shadow: 3px 0px 8px -2px rgba(200,200,200,0.3);
	-moz-box-shadow: 3px 0px 8px -2px rgba(200,200,200,0.3);
	box-shadow: 3px 0px 8px -2px rgba(200,200,200,0.3);
	display: grid;	
	grid-template-rows: 50% repeat(5, 1fr);
	grid-template-areas: 
		"."
		"landing"
		"portfolio"
		"experience"
		"about"
		"contact";
}

#b1 {grid-area: landing;}
#b2 {grid-area: portfolio;}
#b3 {grid-area: experience;}
#b4 {grid-area: about;}
#b5 {
	grid-area: contact;
	margin-bottom: 30px;
	margin-top: 2px;
}

.active-nav .arrow {
	width: 40px;
	opacity: .5;
}

nav > a {
	background-color: transparent;
	font-family: 'Arima Madurai', cursive;
	font-weight: 100;
	font-size: 2.2em;
	height: 50px;
	width: 80%;
	margin: auto;
	transition: 0.3s linear;
}

nav a:hover {
	color: rgba(224, 88, 226, .9);
	box-shadow: 0px 3px 4px -2px rgba(224, 88, 226, .7);
	padding-left: 20px;
	font-size: 2.3em;
}

nav a:active {
	font-size: 2.1em;
}

.arrow {
	display: inline-block;
	color: rgba(224, 88, 226, .9);
	text-align: right;
	/* 	to make span scale */
	width: 0px; 
	opacity: 0;
	transition: 0.3s linear;
}

nav a:hover .arrow {
	width: 40px;
	opacity: .5;
}

/* ------------ SECTIONS ------------ */

.sections {
	position: absolute;
	right: 0;
	height: 100vh;
	width: 65%;
}

#section1, #section2, #section3, #section4, #section5 {
	height: 100vh;
	width: auto;
}

/* --------- section 1 -------- */
#section1 {
	background-color: rgba(237, 230, 235, .1); /*#42b201*/
	font-size: 3em;
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 20% 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 2fr;
	align-items: center;
	grid-template-areas: 
	    ". . photo photo photo . ."
	    ". lin git name twit pen ."
	    ". blurb blurb blurb blurb blurb .";
}

.photo {
	grid-area: photo;
	justify-self: center;
	margin-top: 10%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 68%;
	height: 68%;
	padding-top: 20px;
}

#profile {
	max-width: 90%;
	border-radius: 20% 0 20% 0;
	transition: 0.8s ease-out;
	filter: grayscale(100%) brightness(190%);
	-webkit-box-shadow: -1px 1px 8px -2px rgba(0,0,0,0.3);
	-moz-box-shadow: -1px 1px 8px -2px rgba(0,0,0,0.3);
	box-shadow: -1px 1px 8px -2px rgba(0,0,0,0.3);
}

#profile:hover {
	filter: none;
	-webkit-box-shadow: -5px 5px 8px -2px rgba(0,0,0,0.3);
	-moz-box-shadow: -5px 5px 8px -2px rgba(0,0,0,0.3);
	box-shadow: -5px 5px 8px -2px rgba(0,0,0,0.3);
}

.name {
	grid-area: name;
	align-self: start;
	margin-top: 18px;
	display: flex;
	flex-direction: column;
	font-size: 3vmin;
	padding: 0 1px 15px 1px;
}

.social1 {grid-area: lin;}
.social2 {grid-area: git;}
.social3 {grid-area: twit;}
.social4 {grid-area: pen;}

.social {
	font-size: 1.5em;
	border: 2px solid rgba(237, 230, 235, .1);
	border-radius: 27%;
	transition: 0.3s ease-in-out;
}

.social:hover {
    box-shadow: 0px 3px 4px -2px rgba(224, 88, 226, .7);
	font-size: 1.7em;
	border: 1px solid;
	border-color: transparent transparent rgba(224, 88, 226, .7) rgba(224, 88, 226, .7);
	border-radius: 0 0 0 20%;
}

.social:active {
	font-size: 1.5em;
}

.blurb {
	grid-area: blurb;
}

/* --------- section 2 -------- */
#section2 {
	background-color: rgba(182, 255, 109, .9); /*#ced1b8*/
	padding: 5px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-template-areas: 
		"p-one p-two p-three"
		"p-four p-five p-six"
		"p-seven p-eight p-nine";
}

.projects {
	margin: 5px;
	position: relative;
	
	/*a- image to cover 100% all the time*/
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.project-image {
	/*b- image to cover 100% all the time*/
	flex-shrink: 0;
	min-width: 100%;
	min-height: 100%;
	transition: filter .7s, transform .9s;
}

.description {
	/*text visible only on hover*/
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	visibility: hidden;
	opacity: 0;
	transition: opacity .6s, visibility .3s;

	color: white;
	padding: 20px;
	font-size: 1.5vmin;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.description a h3 {
	text-transform: uppercase;
	letter-spacing: .5vmin;
}

.description > p {
	font-size: 1.6vmin;
	font-weight: bold;
	color: black;
	margin: auto auto 2.5% auto;
}

.git-but {
	font-size: 2.2vmin;
	min-width: 100%;
	border: 1px solid #eee;
	padding: 2px;
	border-radius: 10px;
}

.projects:hover .project-image {
	filter: blur(50px);
	transform: scale(1.5);
}

.projects:hover {
	-webkit-box-shadow: -5px 5px 8px -2px rgba(0,0,0,0.3);
	-moz-box-shadow: -5px 5px 8px -2px rgba(0,0,0,0.3);
	box-shadow: -5px 5px 8px -2px rgba(0,0,0,0.3);
}

.projects:hover .description {
	visibility: visible;
	opacity: 1;
}

.project-one {grid-area: p-one;}
.project-two {grid-area: p-two;}
.project-three {grid-area: p-three;}
.project-four {grid-area: p-four;}
.project-five {grid-area: p-five;}
.project-six {grid-area: p-six;}
.project-seven {grid-area: p-seven;}
.project-eight {grid-area: p-eight;}
.project-nine {grid-area: p-nine;}

/* --------- section 3 -------- */
#section3 {
	background-color: rgba(168, 140, 255, .9); /*#783de5*/
	font-size: 4.7em;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	align-items: center;
	grid-template-areas: 
	    ". icon-one ."
	    "icon-two screen icon-three"
	    ". icon-four .";
}

.section3-icons {
	cursor: pointer;
}

.section3-icon1 {grid-area: icon-one;}
.section3-icon2 {grid-area: icon-two;}
.section3-icon3 {grid-area: icon-three;}
.section3-icon4 {grid-area: icon-four;}

#section3 .section3-info {
	grid-area: screen;
  	display: none;
	animation-duration: .3s;
}

/* --------- section 4 -------- */
#section4 {
	background-color:  rgba(255, 96, 104, .9); /*#e04387*/
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: repeat(4, 1fr);
	justify-items: center;
	align-items: center;
	grid-template-areas: 
		"c-one about-me c-four"
		"c-two scrn c-five"
		"c-three scrn c-six"
		"...... scrn ......";
}

.me {
	grid-area: about-me;
	background-color: rgba(255, 96, 104, .4);
	width: 60%;
	text-align: center;
	font-size: 3vmin;
	max-width: 90%;
	border: 3px solid #555;
	transition: .4s;
}
.city-one {grid-area: c-one;}
.city-two {grid-area: c-two;}
.city-three {grid-area: c-three;}
.city-four {grid-area: c-four;}
.city-five {grid-area: c-five;}
.city-six {grid-area: c-six;}

.about-container {
	grid-area: scrn;
	border: 1px solid rgba(200, 200, 200, .3);
	height: 98%;
	width: 97%;
	padding: 10px;
	margin-bottom: 12vh;
	background-color: rgba(255, 96, 104, 1);
	-webkit-box-shadow: inset 2px 2px 17px 5px rgba(landing,0,0.5);
	-moz-box-shadow: inset 2px 2px 17px 5px rgba(0,0,0,0.5);
	box-shadow: inset 2px 2px 17px 5px rgba(0,0,0,0.5);
}

.about-info {
	grid-area: scrn;
	font-size: 2.5vmin;
	font-weight: 600;
	text-align: center;
	height: 96%;
	width: 95%;
	padding: 10px;
	/*margin-bottom: 12vh;*/
	display: none;
}

/*div .about-info .about-display {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}*/

#section4 .about-info {
	animation-duration: .3s;
}

.about {
	padding: 15px;
	cursor: pointer;
}

.map {
	max-width: 90%;
	text-align: center;
}

.map img {
	max-width: 90%;
	border: 3px solid #555;
	filter: grayscale(80%);
	transition: .4s;
}

.me:hover {
	border-radius: 100px;
	transform: scale(1.1);
}

.map img:hover {
	border-radius: 100px;
	transform: scale(1.1);
	filter: grayscale(60%);
}

/* --------- footer -------- */
footer {
	background-color: rgba(237, 230, 235, .1);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 100vh;
	font-size: 3em;
}

.social-footer {
	transition: 0.3s ease-in-out;: 
}

.social-footer:hover {
	font-size: 3.2em;
	padding: 0 20% 0 20%
}

.social-footer:active {
	font-size: 3em;
}

/* --------- waypoints -------- */

.animate-waypoint {
	opacity: 1;
}

.section3-waypoint-left, .section3-waypoint-right, .social-waypoint-left, .social-waypoint-right{
	transition: .6s;
	opacity: 0;
}

/* --------- media & compatibility queries -------- */

/*medium laptop 1366 x 768
medium tablet 1920	1080
small tablet 1024	600
i7 750	1334
bq 720 x 1280*/
